/*start landing*/

.landing {
    background-image: url(../images/about-us-page-heading.jpg);
    background-size: cover;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.landing h1 {
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 50px;
}

.landing p {
    color: white;
    margin-top: 5px;
    font-weight: 300;
}

@media (max-width: 991px) {
    .landing h1 {
        margin-top: 0;
        font-size: 31px;
        text-align: center;
    }
    .landing p {
        color: white;
        margin-top: 15px;
        font-weight: 300;
        width: 90%;
        font-size: 16px;
        text-align: center;
    }
}


/*end landing*/


/*start about-us*/

.about .container {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.about .container .row {
    justify-content: space-evenly;
}

@media (max-width: 767px) {
    .about .container {
        flex-direction: column;
        align-items: center;
    }
}

.about .container .about-image {
    flex-basis: 60%;
    margin-bottom: 40px;
}

.about .container .about-text {
    flex-basis: 40%;
}

@media (max-width: 767px) {
    .about .container .about-text {
        width: 80%;
    }
}

.about .container .about-text h2 {
    text-transform: capitalize;
    display: block;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

.about .container .about-text p {
    font-weight: 400;
    color: #777;
}

.about .container .about-text span {
    height: 2px;
    background-color: darkgray;
    width: 100%;
    display: block;
    margin: 30px 0;
}

.about .container .about-text .about-social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: -30px;
}

.about .container .about-text .about-social a {
    background-color: black;
    width: 50px;
    border-radius: 50%;
    font-size: 25px;
    display: block;
    text-align: center;
    color: white;
    transition: 1s all;
}

.about .container .about-text .about-social a:hover {
    background-color: whitesmoke;
    color: black;
}


/*end about-us*/


/*start our team section*/

section {
    padding-top: 200px;
}

section h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
}

section p {
    text-align: center;
    color: #777;
    font-weight: 300;
    padding: 10px 18px;
}

section .container {
    margin-top: 40px;
}

section .container .row {
    justify-content: space-evenly;
}

section .container .row .member {
    margin-right: 10px;
}

section .container .row .member h3 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}

section .container .row .member p {
    font-weight: 400;
    margin-top: -4px;
    text-transform: capitalize;
}


/*end our team section*/


/*start our services section*/

.service-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.service-section h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
}

.service-section p {
    text-align: center;
    color: #777;
    font-weight: 300;
    padding: 10px 18px;
}

.service-section .container .row {
    justify-content: space-evenly;
}

.service-section .container .row .service {
    max-width: 350px;
    text-align: center;
    margin-bottom: 20px;
    outline-style: outset;
    outline-color: whitesmoke;
    padding: 30px 0;
    margin-top: 20px;
}

.service-section .container .row .service p {
    text-align: center;
}

.service-section .container .row .service h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}

.service-section .container .row .service img {
    outline-style: inset;
    outline-color: whitesmoke;
}

@media(max-width: 767px) {
    img {
        width: 300px;
    }
}


/*end our services section*/

form .container .feedback .name,
form .container .feedback .mail,
form .container .feedback .comment:focus {
    outline: none;
}
