.contact-page {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-page .container .row {
    justify-content: space-around;
}

.contact-page .container .row .map {
    border: 6px solid white;
    outline-color: whitesmoke;
    outline-style: inset;
    outline-width: 8px;
    outline-offset: 5px;
}

.contact-page .container .row .map iframe {
    width: 100%;
}

.contact-page .container .row .contact-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contact-page .container .row .contact-box li {
    color: #777;
    font-size: 18px;
    line-height: 1.7;
}

.contact-page .container .row .contact-box li h2 {
    color: var(--brand-color);
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: -5px;
    text-decoration: underline;
    font-weight: 600;
}

@media (max-width: 991px) {
    .contact-page .container .row .contact-box {
        margin-top: 100px;
    }
}

form .container .feedback .name,
form .container .feedback .mail,
form .container .feedback .comment:focus {
    outline: none;
}
