.sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sign-up .sign-up-form {
    max-width: 100%;
    max-height: 100%;
    background-color: #f3f3f3;
    border: 10px solid #f3f3f3;
    border-radius: 30px;
    padding: 45px;
    outline-style: outset;
    outline-color: #f3f3f3;
}

.sign-up-form h2 {
    padding: 0 0 25px;
    margin-top: -25px;
    color: var(--brand-color);
}

.sign-up-form .name,
.sign-up-form .birthdate-gender,
.sign-up-form .contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.sign-up-form .name .fname,
.sign-up-form .name .lname,
.sign-up-form .birthdate-gender .birthdate,
.sign-up-form .contact .email,
.sign-up-form .contact .phone,
.sign-up-form .countries {
    display: flex;
    flex-direction: column;
}

.sign-up-form .name .fname,
.sign-up-form .birthdate-gender .birthdate,
.sign-up-form .contact .email {
    margin-right: 10px;
}

.sign-up-form .birthdate-gender .gender {
    margin-left: 20px;
}

.sign-up-form .countries {
    margin-bottom: 20px;
}

.sign-up label {
    text-transform: capitalize;
    color: black;
}

.sign-up input {
    color: var(--brand-color);
    font-weight: 400;
    border-color: #f3f3f3;
}

.sign-up input:focus-visible {
    outline: none;
}

.sign-up .terms-condition {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: baseline;
}

.sign-up .terms-condition p {
    margin-left: 5px;
    font-size: 14px;
}

.sign-up .sign-up-form .reset,
.sign-up .sign-up-form .submit {
    background-color: var(--brand-color);
    color: white;
    text-transform: capitalize;
}

.sign-up .sign-up-form .reset {
    padding: 2px 16px;
}

.sign-up .sign-up-form .submit {
    display: block;
    margin-top: 5px;
    padding: 2px 8px;
}

@media (max-width: 767px) {
    .sign-up-form .name,
    .sign-up-form .birthdate-gender,
    .sign-up-form .contact {
        flex-direction: column;
    }
    .sign-up-form .birthdate-gender .gender {
        margin: 20px 0 0 0;
    }
    .sign-up .sign-up-form .reset,
    .sign-up .sign-up-form .submit {
        width: 100%;
    }
}
